<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Experiencia Laboral
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Experiencia Laboral</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-toolbar>
    <ion-buttons slot="secondary">
      <ion-button fill="solid">
        <ion-icon name="logo-whatsapp"></ion-icon>
        Celular
      </ion-button>
      <ion-button fill="solid">
        <ion-icon name="mail"></ion-icon>
        Email
      </ion-button>
    </ion-buttons>
    <ion-title>Contacto</ion-title>
  </ion-toolbar>


  <ion-card>
    <ion-card-header>
      <ion-card-title>Trabajo en Campo</ion-card-title>
    </ion-card-header>
  
    <ion-card-content>
      <ion-list>
        <ion-item>
          <ion-thumbnail slot="start">
            <img alt="Silhouette of mountains" src="https://t3.ftcdn.net/jpg/05/38/32/16/360_F_538321652_DhqmChC7A2o57vHhRaCMtzCWupoJQXdC.webp" />
          </ion-thumbnail>
          <ion-label>Desarrollador de Software / Desarrollador RPA</ion-label>
          <ion-card-subtitle>Bayteq</ion-card-subtitle>
        </ion-item>

        <ion-item>
          <ion-thumbnail slot="start">
            <img alt="Silhouette of mountains" src="https://cdn-icons-png.flaticon.com/512/6900/6900514.png" />
          </ion-thumbnail>
          <ion-label>Pasante en Mantenimiento de Computadores</ion-label>
          <ion-card-subtitle>Seproteico "Conecta"</ion-card-subtitle>
        </ion-item>
        
        <ion-item>
          <ion-thumbnail slot="start">
            <img alt="Silhouette of mountains" src="https://cdn-icons-png.flaticon.com/512/6900/6900514.png" />
          </ion-thumbnail>
          <ion-label>Técnico de Computadores</ion-label>
          <ion-card-subtitle>Hackers Internet</ion-card-subtitle>
        </ion-item>
  
      </ion-list>
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-card-title>Experiencia externa</ion-card-title>
    </ion-card-header>
  
    <ion-card-content>
      <ion-list>
        <ion-item>
          <ion-thumbnail slot="start">
            <img alt="Silhouette of mountains" src="https://images.vexels.com/media/users/3/139261/isolated/preview/e81900b82cb04c2f11cff7427def25fa-forma-de-rombo.png" />
          </ion-thumbnail>
          <ion-label>Asesor de Ventas</ion-label>
          <ion-card-subtitle>CAN&T</ion-card-subtitle>
        </ion-item>

        <ion-item>
          <ion-thumbnail slot="start">
            <img alt="Silhouette of mountains" src="https://images.vexels.com/media/users/3/139261/isolated/preview/e81900b82cb04c2f11cff7427def25fa-forma-de-rombo.png" />
          </ion-thumbnail>
          <ion-label>Asesor de Ventas y Soporte</ion-label>
          <ion-card-subtitle>Netlife</ion-card-subtitle>
        </ion-item>

        <ion-item>
          <ion-thumbnail slot="start">
            <img alt="Silhouette of mountains" src="https://images.vexels.com/media/users/3/139261/isolated/preview/e81900b82cb04c2f11cff7427def25fa-forma-de-rombo.png" />
          </ion-thumbnail>
          <ion-label>Publicidad</ion-label>
          <ion-card-subtitle>Karate "Enoeda"</ion-card-subtitle>
        </ion-item>
  
      </ion-list>
    </ion-card-content>
  </ion-card>
</ion-content>
